click==7.1.2
dataclasses==0.8; python_version < "3.7"
Flask==1.1.4
gunicorn==20.1.0
uWSGI==2.0.30 
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==2.0.1
Werkzeug==1.0.1
zipp==3.6.0; python_version < "3.8"
importlib-metadata==4.8.3; python_version < "3.8"
requests==2.27.0
PyYAML==6.0.1
redis==4.3.6
